<template>
  <div id="app">
     <app-header></app-header>
     <router-view/>
     <!-- <app-footer></app-footer> -->
  </div>
</template>

<script>
import AppHeader from './components/AppHeader'
import AppFooter from './components/AppFooter'
import HelloWorld from './components/HelloWorld.vue'


export default {
  name: 'App',
  components:{AppHeader, AppFooter, HelloWorld}
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}
</style>