<template>
    <div>
    <transition name="fade" appear mode="out-in">    
    <div class="ui message success" v-if="visible" key="visible">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, nam fuga itaque minus provident temporibus id animi delectus at magni quod ipsum praesentium veritatis odit, vero laudantium excepturi. Non, corrupti!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, fugiat maiores incidunt pariatur veniam ad aliquam consequuntur soluta doloremque similique et, ea est laboriosam! At earum molestias ratione eius neque!
    </div>
    <div class="ui message success" v-else key="invisible">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eligendi qui harum possimus esse, repellendus sequi adipisci soluta voluptatibus assumenda? Illum natus sint atque suscipit a, sed facere ipsum voluptate.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga necessitatibus officia expedita asperiores iste molestias aperiam unde porro, blanditiis mollitia quam facilis ut excepturi perferendis rerum voluptatibus nemo ipsam temporibus?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis voluptatem, accusamus porro omnis voluptatibus laboriosam sunt. Doloribus nisi molestiae, reprehenderit in suscipit natus sapiente rerum necessitatibus porro, harum impedit! Eveniet.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam quisquam, quod blanditiis repellendus nemo iure quibusdam sapiente sunt veritatis amet voluptatem veniam assumenda iste sit cumque facere aspernatur. Magnam, quos.
    </div>    
    </transition>
    <v-btn round color="primary" dark @click="next">Next</v-btn>    
    </div>
</template>

<script>
export default {
    data() {
        return {
            visible:true
        }
    },

    methods: {
        next: function() {
          this.visible = !this.visible
        }
      }
}
</script>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s, transform 0.5s;
    }

    .fade-enter, .fade-leave-active {
        opacity: 0;
        transform: translateX(20px);
    }
</style>
