<template>
 <div>
    <h1 style="margin:50px; margin-left:350px;">Bienvenue dans la catégorie Divers</h1>


    <div class="tab-content">

            <!-- Media top -->
            <div style="margin:30px;" class="media">
                <div class="media-left media-top">
                    <img src="https://picsum.photos/200" class="media-object" style="width:60px">
                </div>
                <div class="media-body">
                    <h4 style="margin-top:10px;" class="media-heading"><a href="./ArticleContent.html">Le Paris Saint Germain dans une
                            descente en enfer</a></h4>
                </div>
            </div>

            <!-- Media middle -->
            <div style="margin:30px;" class="media">
                <div class="media-left media-middle">
                    <img src="https://picsum.photos/200" class="media-object" style="width:60px">
                </div>
                <div class="media-body">
                    <h4 style="margin-top:10px;" class="media-heading"><a href="#">Marseille toujours aussi nul</a></h4>
                </div>
            </div>

            <!-- Media bottom -->
            <div style="margin:30px;" class="media">
                <div class="media-left media-bottom">
                    <img src="https://picsum.photos/200" class="media-object" style="width:60px">
                </div>
                <div class="media-body">
                    <h4 style="margin-top:10px;" class="media-heading"><a href="#">Marseille toujours aussi nul</a></h4>
                </div>
            </div>
    </div>
 </div>
</template>

<style>
#criteria {
  padding-left: 20px;
  padding-right: 20px;
  background: white;
  border-radius: 20px;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: black;
   border-style:groove;
  border-color: #00838F;
}

.divCriteria {
  padding-left: 15px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: grey;
}

#firstCriteria {
  margin-top: 20px;
}

.checkboxCrit {
  margin-top: -15px;
}

.textCardTitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #37474f;
  text-align: start;
}

.textCardContent {
  margin-top: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: grey;
  text-align: start;
}

.AnnonceBottomText {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 10px;
  margin-left: 10px;
  color: grey;
}

#AnnonceBottomIcon {
  margin-left: 10px;
}

#buttonAnnonce {
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: white;
}

.search-wrapper {
  margin-left: 190px;
  background: white;
  margin-bottom: 10px;
  border-radius: 20px;
 
}

.margin {
  margin-bottom: 10px;
  margin-top: 30px;
}

.margin2 {
  margin-bottom: 50px;
}

.AnnonceCard {
  border-radius: 8px 8px 8px 8px;
  margin: 5px;
  margin-bottom: 15px;
}
</style>

<script>
import $ from "jquery";
import AnnonceFile from "./AnnonceFile.vue";
import store from "./SOServicesStore";

export default {
  store: store,
  components: {
    AnnonceFile
  },
  data: () => ({
    BRrechercheRapide: store.state.besoin_recherché,
    CBrechercheRapide: store.state.categorie_besoin,
    DureeRechercheRapide: store.state.duree,
    DistanceRechercheRapide: store.state.distance,
    LieuRechercheRapide: store.state.lieu,
    id: [],
    title: [],
    description: [],
    user: [],
    date: [],
    list_announces_count: 0,
    access_token: store.state.token,
    list_fav_announce: [],
    checkbox1: false,
    checkbox2: false,
    checkbox3: false,
    checkbox4: false,
    checkbox5: false,
    checkbox6: false,
    checkbox7: false,
    checkbox8: false,
    checkbox9: false,
    distCritValue: 0

  }),

  methods: {
    submitFav(index) {
      var self = this;
      $.ajax({
        type: "POST",
        url: "http://localhost:8000/api/users/user/announces/favorites/",
        headers: {
          Authorization: "Bearer " + self.access_token
        },
        data: {
          id: this.id[index - 1]
        },
        dataType: "json",
        success: function(response) {},
        error: function(response) {}
      });
    },
    favoriteAnnonce(index) {
      var i;
      var alreadyIn = false;
      for (i = 0; i < this.list_fav_announce.length; i++) {
        if (this.list_fav_announce[i] === index) alreadyIn = true;
      }
      if (alreadyIn === false) this.list_fav_announce.push(index);
      this.submitFav(index);
    },
    unfavoriteAnnonce(index) {
      var i;
      for (i = 0; i < this.list_fav_announce.length; i++) {
        if (this.list_fav_announce[i] === index)
          this.list_fav_announce.splice(i, 1);
      }
    },
    isAlreadyFav(index) {
      var i;
      var res = false;
      for (i = 0; i < this.list_fav_announce.length; i++) {
        if (this.list_fav_announce[i] === index) res = true;
      }
      return res;
    },
    request: function() {
      var self = this;
      var data_result = null;
      $.ajax({
        type: "GET",
        url: "http://localhost:8000/api/announces",
        headers: {
          Authorization: "Bearer " + self.access_token
        },
        data: {},
        dataType: "json",
        success: function(response) {
          data_result = response;
          var i;
          for (i = 0; i < data_result["count"]; i++) {
            self.id.push(data_result["results"][i]["id"]);
            self.title.push(data_result["results"][i]["title"]);
            self.description.push(data_result["results"][i]["description"]);
            self.date.push(data_result["results"][i]["date"]);
            self.user.push(data_result["results"][i]["user"]);
            self.list_announces_count = data_result["count"];
          }
        },
        error: function(request, status, error) {}
      });
    }
  },
  beforeMount() {
    this.request();
  }
};
</script>