<template>
  <div>
    <h1 style="margin:50px; margin-left:350px;">Bienvenue dans la catégorie Infos</h1>

    <div class="tab-content" style="margin-bottom:300px;">
      <div id="notesRecentes" class="tab-pane fade in active">
        <div class="tab-content">
          <!-- Media top -->
          <div v-for="i in count_note" :key="i" style="margin:30px;" class="media">
            <div class="media-left media-top">
              <img src="https://picsum.photos/200" class="media-object" style="width:60px">
            </div>
            <div class="media-body">
              <h4 style="margin-top:10px; margin-right:800px;" class="media-heading">
                  <v-btn ref="loginButton" class="headerText" flat @click.stop="currentNotes=count_note-i; dialog = true">
                    {{titleNote[count_note - i ]}}
                  </v-btn>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <v-dialog v-model="dialog" max-width="600">
      <v-card id="AnnonceCardMap" hover>
        <v-layout>
          <v-flex xs3>
            <v-avatar size="50" id="avatarAnnonceMap" style="margin-top:20px;">
              <img src="https://picsum.photos/200">
            </v-avatar>
          </v-flex>
          <v-flex xs7>
            <v-card-title primary-title>
              <div>
                <div id="textCardTitleMap">{{this.titleNote[this.currentNotes]}}</div>
                <div
                  id="textCardContentMap"
                >{{this.contentNote[this.currentNotes]}}</div>
              </div>
            </v-card-title>
          </v-flex>
        </v-layout>
        <v-divider light></v-divider>
        <v-card-actions>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style>
#criteria {
  padding-left: 20px;
  padding-right: 20px;
  background: white;
  border-radius: 20px;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: black;
  border-style: groove;
  border-color: #00838f;
}

.divCriteria {
  padding-left: 15px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: grey;
}

#firstCriteria {
  margin-top: 20px;
}

.checkboxCrit {
  margin-top: -15px;
}

.textCardTitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #37474f;
  text-align: start;
}

.textCardContent {
  margin-top: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: grey;
  text-align: start;
}

.AnnonceBottomText {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 10px;
  margin-left: 10px;
  color: grey;
}

#AnnonceBottomIcon {
  margin-left: 10px;
}

#buttonAnnonce {
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: white;
}

.search-wrapper {
  margin-left: 190px;
  background: white;
  margin-bottom: 10px;
  border-radius: 20px;
}

.margin {
  margin-bottom: 10px;
  margin-top: 30px;
}

.margin2 {
  margin-bottom: 50px;
}

.AnnonceCard {
  border-radius: 8px 8px 8px 8px;
  margin: 5px;
  margin-bottom: 15px;
}
</style>

<script>
import $ from "jquery";
import AnnonceFile from "./AnnonceFile.vue";
import store from "./SOServicesStore";

export default {
  store: store,
  components: {
    AnnonceFile
  },
  data: () => ({
    BRrechercheRapide: store.state.besoin_recherché,
    CBrechercheRapide: store.state.categorie_besoin,
    DureeRechercheRapide: store.state.duree,
    DistanceRechercheRapide: store.state.distance,
    LieuRechercheRapide: store.state.lieu,
    id: [],
    title: [],
    description: [],
    user: [],
    date: [],
    list_announces_count: 0,
    access_token: store.state.token,
    list_fav_announce: [],
    checkbox1: false,
    checkbox2: false,
    checkbox3: false,
    checkbox4: false,
    checkbox5: false,
    checkbox6: false,
    checkbox7: false,
    checkbox8: false,
    checkbox9: false,
    distCritValue: 0,
    titleNote: [],
    contentNote: [],
    count_note: 0,
          dialog: false,
      currentNotes: 0
  }),

  methods: {
    submitFav(index) {
      var self = this;
      $.ajax({
        type: "POST",
        url: "http://localhost:8000/api/users/user/announces/favorites/",
        headers: {
          Authorization: "Bearer " + self.access_token
        },
        data: {
          id: this.id[index - 1]
        },
        dataType: "json",
        success: function(response) {},
        error: function(response) {}
      });
    },
    favoriteAnnonce(index) {
      var i;
      var alreadyIn = false;
      for (i = 0; i < this.list_fav_announce.length; i++) {
        if (this.list_fav_announce[i] === index) alreadyIn = true;
      }
      if (alreadyIn === false) this.list_fav_announce.push(index);
      this.submitFav(index);
    },
    unfavoriteAnnonce(index) {
      var i;
      for (i = 0; i < this.list_fav_announce.length; i++) {
        if (this.list_fav_announce[i] === index)
          this.list_fav_announce.splice(i, 1);
      }
    },
    isAlreadyFav(index) {
      var i;
      var res = false;
      for (i = 0; i < this.list_fav_announce.length; i++) {
        if (this.list_fav_announce[i] === index) res = true;
      }
      return res;
    },
    request: function() {
      var self = this;
      var data_result = null;
      $.ajax({
        type: "GET",
        url: "http://localhost:8000/api/categories/2/notes",
        headers: {
          Authorization: "Bearer " + self.access_token
        },
        data: {},
        dataType: "json",
        success: function(response) {
          data_result = response;
          var i;
          for (i = 0; i < data_result["length"]; i++) {
            self.titleNote.push(data_result[i]["title"]);
            self.contentNote.push(data_result[i]["body"]);
          }
          self.count_note = data_result["length"];
        },
        error: function(request, status, error) {}
      });
      var settings = {
        url: "http://localhost:8000/api/notes/",
        method: "GET",
        headers: {
          Authorization: "Bearer " + self.access_token
        },
        data: {},
        dataType: "json"
      };
    }
  },
  beforeMount() {
    this.request();
  }
};
</script>