<template>
    <v-layout row wrap align-center justify-center>
          <v-flex xs12 sm6>
            <v-card class="AnnonceCard" hover>
              <v-layout>
                <v-flex xs3>
                <v-avatar size="100" class="avatarAnnonce">
                    <img src="../assets/user2.jpg">
                </v-avatar>
                </v-flex>
                <v-flex xs7>
                  <v-card-title primary-title>
                    <div>
                      <div class="headline">Annonce 1</div>
                      <div>Description rapide de l'annonce pour savoir en un coup d'oeil ce que c'est</div>
                    </div>
                  </v-card-title>
                </v-flex>
              </v-layout>
              <v-divider light></v-divider>
              <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="cyan lighten-1" id="buttonAnnonce">Proposer son aide</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
</template>

<style>
.AnnonceCard {
    border-radius: 10px 10px 20px 20px;
}

.buttonAnnonce {
    border-radius: 20px;
    font: bold;
    color: white;
}

.avatarAnnonce {
    margin: 10px;
}
</style>