<template>
  <v-layout id="footer">
            <v-flex xs12 sm12 md4 id="addr" >
                <div class="headline footerText">Adresse</div>
                <p class="subheading footerText">14-16 rue voltaire, Kremlin-Bicêtre.</p>
            </v-flex>

            <v-flex xs12 sm12 md4>
                <div class="headline footerText">Adresse email</div>
                <p class="subheading footerText">soservice@gmail.com</p>
            </v-flex>

            <v-flex xs12 sm12 md4>
                <div class="headline footerText">Suivez-nous</div>
                <v-btn href="https://www.twitter.com" target="_blank" icon color="blue">
                    <img src="../assets/twitter.png" width="25" height="20">
                </v-btn>
                <v-btn href="https://www.facebook.com" target="_blank" icon color="blue">
                    <img src="../assets/facebook_icon.png" width="40" height="30">
                </v-btn>
            </v-flex>
        </v-layout>
</template>

<style>
@import url('https://fonts.googleapis.com/css?family=Quicksand');

  #footer {
    background: linear-gradient(90deg, #00B8D4,#00BFA5);
    margin-left: -65px;
    margin-right: -65px;
    margin-bottom: -55px;
    margin-top: -15px;
}

.footerText {
    color: white;
    margin-top:10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    font-size: 20px;
}
</style>
