<template>
  <v-app id="inspire">
    <v-toolbar id="header" dark fixed app clipped-right>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <router-link to="/">
        <v-toolbar-title>
          <v-btn flat class="headerText">SOServices</v-btn>
        </v-toolbar-title>
      </router-link>
      <v-spacer></v-spacer>
      <div v-if="notConnected" key="notConnected" class="hidden-sm-and-down">
        <v-btn ref="loginButton" class="headerText" flat @click.stop="dialog = true">
          <v-icon left>person</v-icon>Se connecter
        </v-btn>
        <router-link to="/login">
          <v-btn ref="registerButton" class="headerText" flat>
            <v-icon left>how_to_reg</v-icon>S'inscrire
          </v-btn>
        </router-link>
      </div>
      <div v-else>
        <router-link to="/account">
          <v-btn class="headerText" flat>
            <v-icon left>person</v-icon>Mon compte
          </v-btn>
        </router-link>
         <router-link to="/AddNote">
          <v-btn class="headerText" flat>
            <v-icon left>list_alt</v-icon>Créer une note
          </v-btn>
        </router-link>
         <router-link to="/DelNote">
          <v-btn class="headerText" flat>
            <v-icon left>list_alt</v-icon>Supprimer une note
          </v-btn>
        </router-link>
      </div>
    </v-toolbar>
    <v-navigation-drawer v-model="drawer" fixed temporary app>
      <v-list dense>
        <div v-if="notConnected" key="notConnected">
          <v-list-tile class="drawer" link to="/">
            <v-list-tile-action>
              <v-icon left>house</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="MenuText">Accueil</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile class="drawer" link to="/Login">
            <v-list-tile-action>
              <v-icon left>how_to_reg</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="MenuText">S'inscrire</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile class="drawer" @click.stop="dialog = true">
            <v-list-tile-action>
              <v-icon left>person</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="MenuText">Se connecter</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </div>

        <div v-else>
          <v-list-tile class="drawer" link to="/Account">
            <v-list-tile-action>
              <!-- <v-avatar size="30" id="avatarMonCompteDeroulant">
                <img :src="userInfo_pic_url">
              </v-avatar> -->
              <v-icon left>person</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="MenuText">Mon compte</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile class="drawer" link to="/">
            <v-list-tile-action>
              <v-icon left>house</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="MenuText">Accueil</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile class="drawer" link to="/AnnouncesMaths">
            <v-list-tile-action>
              <v-icon left>list_alt</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="MenuText">Maths</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile class="drawer" link to="/AnnouncesInfos">
            <v-list-tile-action>
              <v-icon left>list_alt</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="MenuText">Infos</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile class="drawer" link to="/AnnouncesDivers">
            <v-list-tile-action>
              <v-icon left>list_alt</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="MenuText">Divers</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </div>
      </v-list>
    </v-navigation-drawer>

    <v-dialog ref="loginDialog" id="loginDialog" v-model="dialog" max-width="350">
      <v-card id="loginCard">
        <v-card-title id="titreLogin">Connectez-vous !</v-card-title>

        <v-card-text>
          <v-btn color="indigo" id="buttonFB" @click="fbconnection">Connexion avec Facebook</v-btn>
          <h3 id="OrTextLogin" color="gray">Ou</h3>
          <v-flex id="mailLogin" xs12 sm6 md12>
            <v-text-field
              v-model="mail"
              label="Mail"
              placeholder="ex@exemple.com"
              :rules="[rules.required]"
              outline
            ></v-text-field>
          </v-flex>
        </v-card-text>

        <v-card-text>
          <v-flex id="passLogin" xs12 sm6 md12>
            <v-text-field
              v-model="password"
              :append-icon="show1 ? 'visibility' : 'visibility_off'"
              :rules="[rules.required]"
              :type="show1 ? 'text' : 'password'"
              name="input-10-1"
              label="Mot de passe"
              @click:append="show1 = !show1"
              outline
            ></v-text-field>
          </v-flex>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <router-link to="/account">
            <v-btn color="cyan lighten-1" id="buttonLogin" @click="submit()">Connexion</v-btn>
          </router-link>
        </v-card-actions>

        <h6 v-if="LoginError" key="LoginError" id="LoginError">{{this.LoginMsgError }}</h6>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import $ from "jquery";
import Vuex from "vuex";
import store from "./SOServicesStore";

export default {
  store: store,
  data() {
    return {
      LoginMsgError: "L'email ou le mot de passe est incorrect",
      LoginError: false,
      notConnected: !store.state.isConnected,
      username: "",
      access_token_fb: "",
      access_token: "",
      refresh_token: "",
      mail: "",
      show1: false,
      drawer: null,
      dialog: false,
      left: false,
      password: "",
      userInfo_pic_url : store.state.url["url"],
      rules: {
        required: value => !!value || "Requis."
      }
    };
  },
  props: {
    source: String
  },
  methods: {
    ...Vuex.mapActions(["ChangeIsConnected", "ChangeToken"]),
    fbconnection() {
      var self = this;
      $(document).ready(function() {
        $.ajaxSetup({ cache: true });
        $.getScript("https://connect.facebook.net/en_US/sdk.js", function() {
          FB.init({
            appId: "2321958221422162",
            version: "v2.7" // or v2.1, v2.2, v2.3, ...
          });
          $("#loginbutton,#feedbutton").removeAttr("disabled");
          //FB.getLoginStatus(updateStatusCallback);
        });
      });
      FB.login(
        function(response) {
          if (response.authResponse) {
            self.access_token = "facebook "
            self.access_token += FB.getAuthResponse()["accessToken"];
            FB.api("/me", function(response) {
              self.username = response.name;
              self.notConnected = false;
              self.dialog = false;
              self.ChangeIsConnected(true);
              self.ChangeToken(self.access_token);
            });
          } else {
            console.log("User cancelled login or did not fully authorize.");
          }
        },
        { scope: "" }
      );
    },
    submit() {
      var self = this;
      (self.LoginError = false),
        $.ajax({
          type: "POST",
          url: "http://localhost:8000/authentication/token/",
          data: {
            username: this.mail,
            password: this.password
          },
          dataType: "json",
          success: function(response) {
            self.access_token = response.access_token;
            self.refresh_token = response.refresh_token;
            self.notConnected = false;
            self.dialog = false;
            self.ChangeIsConnected(true);
                          console.log(self.access_token)
            self.ChangeToken(self.access_token);
          },
          error: function(response) {
            self.LoginMsgError = "les identifiants sont incorrect.";
            self.LoginError = true;
          }
        });
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Quicksand:500");

a {
  text-decoration: none !important;
}

.drawer {
  margin-top: 15px;
}

#inspire {
  height: 60px;
}

#titreLogin {
  margin-left: 70px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: gray;
}

#OrTextLogin {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

#mailLogin {
  margin-left: 8px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

#passLogin {
  margin-left: 8px;
  margin-top: -35px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

#buttonLogin {
  border-radius: 20px 20px 20px 20px;
  font: bold;
  color: white;
  margin-right: 105px;
  margin-top: -20px;
  margin-bottom: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 15px;
}

#buttonFB {
  border-radius: 20px 20px 20px 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 15px;
  color: white;
  margin-top: -10px;
}

h3 {
  margin-top: 20px;
  color: gray;
  margin-bottom: 20px;
}

#LoginError {
  color: red;
  margin-top: -5px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 10px;
}

#loginDialog {
  border-radius: 40px 40px 40px 40px;
}

#loginCard {
  border-radius: 40px 40px 40px 40px;
}

#avatarMonCompte {
  margin-right: 20px;
}

.headerText {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 15px;
}

.MenuText {
  color: dimgray;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 15px;
}

#header {
  background: linear-gradient(90deg, #00b8d4, #00bfa5);
}
</style>