<template>
    <span>
        <home-hero></home-hero>
        <home-details title="Qui sommes-nous ?"></home-details>
        <home-plans></home-plans>
        <getInTouch dialog:false></getInTouch>
        </span>
</template>

<script>
import GetInTouch from '@/components/GetInTouch';
import HomeHero from '@/components/HomeHero';
import HomeDetails from '@/components/HomeDetails';
import HomePlans from '@/components/HomePlans';

export default {
    name: 'contact',
    components: {
        HomeHero,
        HomeDetails,
        HomePlans,
        GetInTouch
    }
};
</script>

