<template>
  <v-container>
    <form class="container">
      <div>
        <transition name="fade" appear mode="out-in">
          <div>
             <v-select
              v-model="selectCat"
              :items="titleNote"
              label="Choisir une notes :"
            ></v-select>
            <v-select
              v-model="selectExport"
              :items="itemsExport"
              label="Type de fichier en sortie :"
            ></v-select>
          </div>
        </transition>
      </div>
      <div id="lastDiv">
        <v-btn color="cyan lighten-1" id="buttonForm1" @click="submit">Exporter la note</v-btn>
      </div>
    </form>
  </v-container>
</template>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength, email } from "vuelidate/lib/validators";
import $ from "jquery";
import axios from "axios";
import store from "./SOServicesStore";
import { UploadImage, url } from "./UploadFile";

export default {
  store: store,
  mixins: [validationMixin],
  validations: {
    name: { required, maxLength: maxLength(10) },
    firstname: { maxLength: maxLength(10) },
    selectGender: { required },
    email: { required, email },
    phone: { maxLength: maxLength(10) },
    password: { required },
    checkbox: {
      checked(val) {
        return val;
      }
    },
    checkbox2: {
      checked(val) {
        return val;
      }
    }
  },

  data: () => ({
    alertSuccess: false,
    alertError: false,
    name: "",
    firstname: "",
    titre: "",
    selectCat: null,
    itemsExport: ["pdf", "docx"],
    phone: "",
    show3: false,
    checkbox1: false,
    checkbox2: false,
    selectFile: null,
    contenu: "",
    access_token: store.state.token,
    Categorievalue: [],
    descriptionValue: "",
    ProfilImageUrl: store.state.url,
    id_cat : 0,
    titleNote: [],
    contentNote: [],
    idNote: [],
    count_note: 0,
    id_del: 0,
    selectExport: null,
    exportURL:""
  }),
  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.maxLength &&
        errors.push("Le nom doit contenir au maximum 10 caractères.");
      !this.$v.name.required && errors.push("Le nom est requis.");
      return errors;
    },
    firstnameErrors() {
      const errors = [];
      if (!this.$v.firstname.$dirty) return errors;
      !this.$v.firstname.maxLength &&
        errors.push("Le prénom doit contenir au maximum 10 caractères.");
      !this.$v.firstname.required && errors.push("Le prénom est requis.");
      return errors;
    },
    selectErrors() {
      const errors = [];
      if (!this.$v.selectGender.$dirty) return errors;
      !this.$v.selectGender.required &&
        errors.push("Veuillez selectionner le genre");
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("e-mail invalide");
      !this.$v.email.required && errors.push("L'e-mail est requis");
      return errors;
    },
    checkboxErrors() {
      const errors = [];
      if (!this.$v.checkbox2.$dirty) return errors;
      !this.$v.checkbox2.checked &&
        errors.push(
          "Vous devez accepter les conditions d'utilisation avant de pouvoir continuer."
        );
      return errors;
    }
  },
   beforeMount() {
    this.request();
  },
  methods: {
      request: function() {
      var self = this;
      var data_result = null;
      $.ajax({
        type: "GET",
        url: "http://localhost:8000/api/notes/",
        headers: {
          Authorization: "Bearer " + self.access_token
        },
        data: {},
        dataType: "json",
        success: function(response) {
          data_result = response;
          var i;
          for (i = 0; i < data_result["length"]; i++) {
            self.titleNote.push(data_result[i]["title"]);
            self.contentNote.push(data_result[i]["body"]);
            self.idNote.push(data_result[i]["id"]);
          }
          self.count_note = data_result["length"];
        },
        error: function(request, status, error) {}
      });
  },
    submit() {
      var self = this;
      var i;
      for (i = 0; i < self.titleNote.length; i++)
      {
          if (self.selectCat === self.titleNote[i])
            self.id_del = self.idNote[i]
      }
      console.log(self.id_del) 
      $.ajax({
        type: "GET",
        url: "http://localhost:8000/api/notes/" + self.id_del + "/" + self.selectExport,
        headers: {
          Authorization: "Bearer " + self.access_token
        },
        data: {
        },
        dataType: "json",
        success: function(response) {
        },
        error: function(request, status, error) {
        }
      });
      //document.cookie = "access_token=" + self.access_token
      //window.location.replace("http://localhost:8000/api/notes/" + self.id_del + "/" + self.selectExport);
    },
    clear() {
      this.$v.$reset();
      this.name = "";
      this.firstname = "";
      this.email = "";
      this.phone = "";
      this.password = "";
      this.selectGender = null;
      this.checkbox = false;
      this.checkbox2 = false;
      this.selectFile = null;
    },
    onFileSelected() {
      UploadImage();
    }
  }
};
</script>

<style>
#lastDiv {
  margin-bottom: 400px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
  transform: translateX(20px);
}
.label-file {
  cursor: pointer;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
}
.label-file:hover {
  color: grey;
}

.input-file {
  display: none;
}

#container {
  padding-left: 100px;
}

.buttonFile {
  margin-right: 810px;
  margin-top: 40px;
  border-radius: 20px 20px 20px 20px;
}

.typeFile {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

h5 {
  margin-top: 10px;
  margin-right: 800px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: grey;
}

h6 {
  margin-top: 10px;
  margin-right: 430px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: grey;
}

.checkBoxForm {
  margin-top: 50px;
}

.checkBoxForm2 {
  margin-top: 10px;
  margin-bottom: 70px;
}

#buttonForm1 {
  border-radius: 20px 20px 20px 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: white;
}

#buttonForm2 {
  border-radius: 20px 20px 20px 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: white;
}

#rightBoxCategorie {
  margin-top: 50px;
  width: 500px;
}

#FormLeft {
  float: left;
  width: 40%;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

#FormRight {
  float: right;
  width: 40%;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

#FormPart2 {
  padding-top: 200px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

#FormLeft2 {
  float: left;
  width: 70%;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

#FormRight2 {
  float: right;
  width: 30%;
  padding-top: 30px;
}

#FormPart3 {
  padding-top: 180px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

#alertSuccess {
  border-radius: 20px 20px 20px 20px;
  width: 100%;
}

#alertError {
  border-radius: 20px 20px 20px 20px;
  width: 100%;
}
</style>
