<template>
  <v-container grid-list-lg>
    <v-layout row>
      <v-flex xs12 class="text-xs-center">
        <v-btn
          ref="myButton"
          id="buttonSearchContact"
          color="cyan lighten-1"
          @click.stop="dialog = true"
        >Nous contacter</v-btn>
        <v-dialog ref="myDialog" v-model="dialog" max-width="700">
          <template v-slot:activator="{ on }"></template>
          <v-card id="dialogContact">
            <v-card-title>
              <span id="containerContact" class="headline">Contact</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout id="containerContact" wrap>
                  <v-flex xs12 sm6>
                    <v-text-field label="First name*" required></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field label="Last name*" required></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field label="Email*" required></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-select :items="['0-17', '18-29', '30-54', '54+']" label="Age*" required></v-select>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-autocomplete
                      :items="['Skiing', 'Ice hockey', 'Soccer', 'Basketball', 'Hockey', 'Reading', 'Writing', 'Coding', 'Basejump']"
                      label="Interests"
                      multiple
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm6 md12>
                    <v-textarea name="input-7-1" box scrollable label="Description"></v-textarea>
                  </v-flex>
                </v-layout>
              </v-container>
              <small id="containerContact">*indiques les champs obligatoires</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn id="containerContact" color="blue darken-1" flat @click="dialog = false">Fermer</v-btn>
              <v-btn
                id="containerContact"
                color="blue darken-1"
                flat
                @click="dialog = false"
              >Envoyer</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
    props: {
    dialog: Boolean
  },
  name: "GetInTouch"
};
</script>

<style>
#write-style {
  color: white;
  width: 300px;
  font: italic bold 24px/30px times;
}

#buttonSearchContact {
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: white;
}

#containerContact {
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
}

#dialogContact {
  border-radius: 5px;
}
</style>