<template>
  <div>
    <h1 style="margin:50px;">Page d'accueil</h1>

    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#notesRecentes">mes notes récentes</a>
      </li>
    </ul>

    <div class="tab-content" style="margin-bottom:300px;">
      <div id="notesRecentes" class="tab-pane fade in active">
        <div class="tab-content">
          <div v-for="i in 2" :key="i" style="margin:30px;" class="media">
            <div class="media-left media-top">
              <img src="https://picsum.photos/200" class="media-object" style="width:60px">
            </div>
            <div class="media-body">
              <h4 style="margin-top:10px; margin-right:800px;" class="media-heading">
                  <v-btn ref="loginButton" class="headerText" flat @click.stop="currentNotes=count_note-i; dialog = true">
                    {{titleNote[count_note - i ]}}
                  </v-btn>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>

       <v-dialog v-model="dialog" max-width="600">
      <v-card id="AnnonceCardMap" hover>
        <v-layout>
          <v-flex xs3>
            <v-avatar size="50" id="avatarAnnonceMap" style="margin-top:20px;">
              <img src="https://picsum.photos/200">
            </v-avatar>
          </v-flex>
          <v-flex xs7>
            <v-card-title primary-title>
              <div>
                <div id="textCardTitleMap">{{this.titleNote[this.currentNotes]}}</div>
                <div
                  id="textCardContentMap"
                >{{this.contentNote[this.currentNotes]}}</div>
              </div>
            </v-card-title>
          </v-flex>
        </v-layout>
        <v-divider light></v-divider>
        <v-card-actions>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import store from "./SOServicesStore";
import Vuex from "vuex";
import $ from "jquery";
import axios from "axios";

export default {
  name: "Home",
  store: store,
  data() {
    return {
      isConnected: store.state.isConnected,
      active: null,
      rightBoxTitle: ["Demander à son voisin", "Aider son voisin"],
      radioBoxObjServ: "",
      itemsCat: ["Musique", "Instruments", "Cuisine", "Bricolage"],
      valueCategorieBox: [],
      duree: "",
      distance: "",
      placeRechercheRapide: null,
      loading: false,
      visible: true,
      access_token: store.state.token,
      card_title: '"Recherche un plombier pour demain après-midi"',
      card_text: "Charlotte, 9 Avril",
      card_title2: '"Recherche une clé à molette pour ce Weekend 30/03"',
      card_text2: "Jean, 10 Avril",
      intervalid1: "",
      center: { lat: 48.8566101, lng: 2.3514992 },
      markers: [],
      places: [],
      currentPlace: null,
      long: [2.3569965000000366, 2.362425900000062, 2.3628171000000293],
      lat: [48.8097463, 48.8111529, 48.81566540000001],
      dialog: false,
      infoWindow: {
        position: { lat: 0, lng: 0 },
        open: false,
        template: ""
      },
      currentLat: 0,
      currentLong: 0,
      idAnnoncesSuggested: [], 
      dateAnnoncesSuggested: [],
      userAnnoncesSuggested: [],
      locationAnnoncesSuggested: [],
      list_announces_suggested_count: 0,
      titleNote: [],
      contentNote: [],
      count_note: 0,
      dialog: false,
      currentNotes: 0
    };
  },


  watch: {
    search(val) {
      val && val !== this.select && this.querySelections(val);
    }
  },
  beforeMount() {
    this.request()
  },
  methods: {
    ...Vuex.mapActions([
      "RechercheRapideBR",
      "RechercheRapideCB",
      "RechercheRapideDuree",
      "RechercheRapideDistance",
      "RechercheRapideLieu",
      "ChangeCurrLat",
      "ChangeCurrLong"
    ]),
    request: function() {
      var self = this;
      var data_result = null;
      $.ajax({
        type: "GET",
        url: "http://localhost:8000/api/notes/",
        headers: {
          Authorization: "Bearer " + self.access_token
        },
        data: {},
        dataType: "json",
        success: function(response) {
          data_result = response;
          var i;
          for (i = 0; i < data_result["length"]; i++) {
           self.titleNote.push(data_result[i]["title"]);
           self.contentNote.push(data_result[i]["body"]);
          }
          self.count_note = data_result["length"];
        },
        error: function(request, status, error) {}
      });
      var settings = {
        url: "http://localhost:8000/api/notes/",
        method: "GET",
        headers: {
          Authorization: "Bearer " + self.access_token
        },
        data: {},
        dataType: "json",

      };
    },
  },
};
</script>

