<template>
    <v-container grid-list-lg>
        <v-layout row>
            <v-flex xs12 class="text-xs-center display-1 font-weight-black my-5" id="TitleSectionIdea">Sections Ideas</v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12 sm12 md4>
                <v-card>
                    <v-img src="https://www.hennebont.bzh/wp-content/uploads/2018/07/visuel-regle-de-bon-voisinage.jpg" height="500px">
                        <v-container fill-height fluid>
                            <v-layout fill-height>
                                <v-flex xs12 align-end flexbox>
                                    <span class="headline black--text SectionSomeIdea">Some ideas</span>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-img>

                    <v-card-title primary-title>
                        <div>
                            <h3 class="headline mb-0 SectionSomeIdea">Some ideas</h3>
                            <div class="SectionSomeIdeaText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris felis, varius rutrum massa a, dignissim ornare dui. Cras eget velit eu dui tristique lobortis sit amet vel tellus.
                            </div>
                        </div>
                    </v-card-title>
                </v-card>
            </v-flex>

            <v-flex xs12 sm12 md4>
                <v-card>
                    <v-img src="https://oumma.com/wp-content/uploads/2000/07/voisin.jpg" height="500px">
                        <v-container fill-height fluid>
                            <v-layout fill-height>
                                <v-flex xs12 align-end flexbox>
                                    <span class="headline white--text SectionSomeIdea">Some ideas</span>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-img>
                    <v-card-title primary-title>
                        <div>
                            <h3 class="headline mb-0 SectionSomeIdea">Some ideas</h3>
                            <div class="SectionSomeIdeaText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris felis, varius rutrum massa a, dignissim ornare dui. Cras eget velit eu dui tristique lobortis sit amet vel tellus.
                            </div>
                        </div>
                    </v-card-title>
                </v-card>
            </v-flex>

            <v-flex xs12 sm12 md4>
                <v-card>
                    <v-img :src="require('@/assets/voisin.jpg')" height="500px">
                        <v-container fill-height fluid>
                            <v-layout fill-height>
                                <v-flex xs12 align-end flexbox>
                                    <span class="headline white--text SectionSomeIdea">Some ideas</span>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-img>
                    <v-card-title primary-title>
                        <div>
                            <h3 class="headline mb-0 SectionSomeIdea">Some ideas</h3>
                            <div class="SectionSomeIdeaText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris felis, varius rutrum massa a, dignissim ornare dui. Cras eget velit eu dui tristique lobortis sit amet vel tellus.
                            </div>
                        </div>
                    </v-card-title>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    name: 'HomePlans'
};
</script>

<style>
    #TitleSectionIdea {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color:grey;
    }

    .SectionSomeIdea {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    font-size: 20px; 
    }

    .SectionSomeIdeaText {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 12.5px; 
    }
</style>