<template>
    <v-container fluid fill-height class="home-hero" style="max-height: 100vh;">
        <v-layout justify-center align-center column pa-5>
            <div class="write-style-title text-center">SOServices</div>
            <div class="write-style text-center">"Dans le monde, personne n’est inutile s’il allège le fardeau des autres."</div>
            <!-- <v-btn fab class="mt-5 brown darken-4">
            <v-icon large color="white">expand_more</v-icon>
            </v-btn> -->
        </v-layout>
    </v-container>
</template>

<script>
export default {
    name: 'HomeHero'
};
</script>

<style scoped>
.home-hero {
    background: url('https://www.auto-entrepreneur.fr/media/915/452/article-entraide-ae.jpg/');
    background-size: cover;
    width: 100%;
    height: 100%;
}
.write-style {
    color: white;
    width: 300px;
    margin-top: 20;
    font: italic bold 24px/30px Georgia, Serif;
}

.write-style-title {
    color: white;
    width: 300px;
    font: bold 84px/90px Georgia, Serif;
     margin-left: -200px;
}

</style>