<template>
    <v-container>
        <v-layout column>
            <v-flex class="display-2 text-xs-center my-5" id="titleContact">{{this.title}}</v-flex>
            <v-flex>
                <div class="headline mt-3" id="subTitleContact">Une jeune équipe</div>
                <p class="subheading mt-3" id="subTextContact">Composé de 4 membres, SOService est une jeune équipe d'étudiant ingénieur en informatique.
                    A travers ce site, ils espèrent pouvoir aider les gens à s'entraider plus facilement et plus fréquemment.</p>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    name: 'HomeDetails',
    props: {
    title: String
  }
};
</script>

<style>
    #titleContact {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color:grey;
    }

    #subTitleContact {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color:grey;
    }

    #subTextContact {
        font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    font-size: 20px;
    color:grey;
    }
</style>