<template>
  <v-container>
    <form class="container">
      <div>
        <transition name="fade" appear mode="out-in">
          <div>
            <v-text-field
              v-model="email"
              :error-messages="emailErrors"
              label="E-mail"
              placeholder="ex@exemple.fr"
              required
              @input="$v.email.$touch()"
              @blur="$v.email.$touch()"
            ></v-text-field>

            <v-text-field
              v-model="password"
              :append-icon="show3 ? 'visibility' : 'visibility_off'"
              :rules="[rules.required, rules.min]"
              :type="show3 ? 'text' : 'password'"
              name="input-10-2"
              label="Mot de passe"
              hint="At least 8 characters"
              value
              required
              class="input-group--focused"
              @click:append="show3 = !show3"
            ></v-text-field>
          </div>
        </transition>
      </div>
      <div id="lastDiv">
        <v-btn color="cyan lighten-1" id="buttonForm1" @click="submit">Créer son compte</v-btn>
        <v-btn color="cyan lighten-1" id="buttonForm2" @click="clear">Effacer les données</v-btn>
      </div>
    </form>
    <v-dialog v-model="alertSuccess" max-width="500">
      <div>
        <v-alert
          id="alertSuccess"
          v-model="alertSuccess"
          dismissible
          type="success"
        >Félicitations ! Votre compte a bien été créé.</v-alert>
      </div>
    </v-dialog>
    <v-dialog v-model="alertError" max-width="500">
      <div>
        <v-alert
          id="alertError"
          v-model="alertError"
          dismissible
          type="error"
        >Une erreur est survenue lors de la création de votre compte.</v-alert>
      </div>
    </v-dialog>
  </v-container>
</template>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength, email } from "vuelidate/lib/validators";
import $ from "jquery";
import axios from "axios";
import store from "./SOServicesStore";
import { UploadImage, url } from "./UploadFile";

export default {
  store: store,
  mixins: [validationMixin],
  validations: {
    name: { required, maxLength: maxLength(10) },
    firstname: { maxLength: maxLength(10) },
    selectGender: { required },
    email: { required, email },
    phone: { maxLength: maxLength(10) },
    password: { required },
    checkbox: {
      checked(val) {
        return val;
      }
    },
    checkbox2: {
      checked(val) {
        return val;
      }
    }
  },

  data: () => ({
    alertSuccess: false,
    alertError: false,
    itemsCat: ["1", "2", "3", "4", "5", "6", "7", "8"],
    name: "",
    firstname: "",
    email: "",
    selectGender: null,
    itemsGender: ["Homme", "Femme", "Autre"],
    phone: "",
    show3: false,
    checkbox1: false,
    checkbox2: false,
    selectFile: null,
    password: "",
    access_token: "",
    Categorievalue: [],
    descriptionValue: "",
    ProfilImageUrl: store.state.url,
    rules: {
      required: value => !!value || "Requis.",
      min: v => v.length >= 8 || "8 caractères min"
    }
  }),
  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.maxLength &&
        errors.push("Le nom doit contenir au maximum 10 caractères.");
      !this.$v.name.required && errors.push("Le nom est requis.");
      return errors;
    },
    firstnameErrors() {
      const errors = [];
      if (!this.$v.firstname.$dirty) return errors;
      !this.$v.firstname.maxLength &&
        errors.push("Le prénom doit contenir au maximum 10 caractères.");
      !this.$v.firstname.required && errors.push("Le prénom est requis.");
      return errors;
    },
    selectErrors() {
      const errors = [];
      if (!this.$v.selectGender.$dirty) return errors;
      !this.$v.selectGender.required &&
        errors.push("Veuillez selectionner le genre");
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("e-mail invalide");
      !this.$v.email.required && errors.push("L'e-mail est requis");
      return errors;
    },
    checkboxErrors() {
      const errors = [];
      if (!this.$v.checkbox2.$dirty) return errors;
      !this.$v.checkbox2.checked &&
        errors.push(
          "Vous devez accepter les conditions d'utilisation avant de pouvoir continuer."
        );
      return errors;
    }
  },
  methods: {
    submit() {
      this.$v.$touch();
      var self = this;
      var username = self.name + " " + self.firstname;
      $.ajax({
        type: "POST",
        url: "http://localhost:8000/authentication/register/",
        data: {
          username: this.email,
          password: this.password,
        },
        dataType: "json",
        success: function(response) {
          self.access_token = response.access_token;
          self.alertSuccess = true;
        },
        error: function(request, status, error) {
          self.alertError = true;
        }
      });
    },
    clear() {
      this.$v.$reset();
      this.name = "";
      this.firstname = "";
      this.email = "";
      this.phone = "";
      this.password = "";
      this.selectGender = null;
      this.checkbox = false;
      this.checkbox2 = false;
      this.selectFile = null;
    },
    onFileSelected() {
      UploadImage();
    }
  }
};
</script>

<style>
#lastDiv {
  margin-bottom: 400px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
  transform: translateX(20px);
}
.label-file {
  cursor: pointer;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
}
.label-file:hover {
  color: grey;
}

.input-file {
  display: none;
}

#container {
  padding-left: 100px;
}

.buttonFile {
  margin-right: 810px;
  margin-top: 40px;
  border-radius: 20px 20px 20px 20px;
}

.typeFile {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

h5 {
  margin-top: 10px;
  margin-right: 800px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: grey;
}

h6 {
  margin-top: 10px;
  margin-right: 430px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: grey;
}

.checkBoxForm {
  margin-top: 50px;
}

.checkBoxForm2 {
  margin-top: 10px;
  margin-bottom: 70px;
}

#buttonForm1 {
  border-radius: 20px 20px 20px 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: white;
}

#buttonForm2 {
  border-radius: 20px 20px 20px 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: white;
}

#rightBoxCategorie {
  margin-top: 50px;
  width: 500px;
}

#FormLeft {
  float: left;
  width: 40%;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

#FormRight {
  float: right;
  width: 40%;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

#FormPart2 {
  padding-top: 200px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

#FormLeft2 {
  float: left;
  width: 70%;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

#FormRight2 {
  float: right;
  width: 30%;
  padding-top: 30px;
}

#FormPart3 {
  padding-top: 180px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

#alertSuccess {
  border-radius: 20px 20px 20px 20px;
  width: 100%;
}

#alertError {
  border-radius: 20px 20px 20px 20px;
  width: 100%;
}
</style>
