<template>
  <div>

    <div style="float: left; width: 96%;">
      <ul style="margin-top:50px; margin-right:30px;" class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#sport">Mes notes</a>
        </li>
      </ul>

     <div class="tab-content" style="margin-bottom:300px;">
      <div id="notesRecentes" class="tab-pane fade in active">
        <div class="tab-content">
          <!-- Media top -->
          <div v-for="i in count_note" :key="i" style="margin:30px;" class="media">
            <div class="media-left media-top">
              <img src="https://picsum.photos/200" class="media-object" style="width:60px">
            </div>
           <div class="media-body">
              <h4 style="margin-top:10px; margin-right:800px;" class="media-heading">
                  <v-btn ref="loginButton" class="headerText" flat @click.stop="currentNotes=count_note-i; dialog = true">
                    {{titleNote[count_note - i ]}}
                  </v-btn>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

     <v-dialog v-model="dialog" max-width="600">
      <v-card id="AnnonceCardMap" hover>
        <v-layout>
          <v-flex xs3>
            <v-avatar size="50" id="avatarAnnonceMap" style="margin-top:20px;">
              <img src="https://picsum.photos/200">
            </v-avatar>
          </v-flex>
          <v-flex xs7>
            <v-card-title primary-title>
              <div>
                <div id="textCardTitleMap">{{this.titleNote[this.currentNotes]}}</div>
                <div
                  id="textCardContentMap"
                >{{this.contentNote[this.currentNotes]}}</div>
              </div>
            </v-card-title>
          </v-flex>
        </v-layout>
        <v-divider light></v-divider>
        <v-card-actions>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import $ from "jquery";
import AnnonceFile from "./AnnonceFile.vue";
import store from "./SOServicesStore";

export default {
  store: store,
  data: vm => ({
    show3: false,
     password: "",
         email: "",
    menu1: false,
    dialogAnnonce: false,
    dialogModifAnnonce: false,
    dialogModifier: false,
    title: "",
    Categorievalue: [],
    descriptionValue: "",
    currentLat: store.state.currentLat,
    currentLong: store.state.currentLong,
    nameChanged: "",
    firstnameChanged: "",
    mailChanged: "",
    phoneChanged: "",
    access_token: store.state.token,
    snackbarAnnonce: false,
    y: "top",
    x: null,
    mode: "",
    timeout: 6000,
    text: "Votre annonce a bien été créée !",
    id_fav_announce: [],
    title_fav_announce: [],
    description_fav_announce: [],
    user_fav_announce: [],
    date_fav_announce: [],
    distance_fav_announce: [],
    count_fav_announce: 0,
    userInfo_pic_url: "",
    userInfo_phone_nb: "",
    userInfo_description: "",
    userInfo_username: "",
    userInfo_email: "",
    titleNote: [],
    contentNote: [],
    count_note: 0,
          dialog: false,
      currentNotes: 0
  }),

  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date);
    }
  },

  watch: {
    date(val) {
      this.dateFormatted = this.formatDate(this.date);
    }
  },
  beforeMount() {
    this.request();
  },
  methods: {
    request: function() {
      var self = this;
      var data_result = null;
      $.ajax({
        type: "GET",
        url: "http://localhost:8000/api/notes/",
        headers: {
          Authorization: "Bearer " + self.access_token
        },
        data: {},
        dataType: "json",
        success: function(response) {
          data_result = response;
          var i;
          for (i = 0; i < data_result["length"]; i++) {
            self.titleNote.push(data_result[i]["title"]);
            self.contentNote.push(data_result[i]["body"]);
          }
          self.count_note = data_result["length"];
        },
        error: function(request, status, error) {}
      });
      var settings = {
        url: "http://localhost:8000/api/notes/",
        method: "GET",
        headers: {
          Authorization: "Bearer " + self.access_token
        },
        data: {},
        dataType: "json"
      };
    }
  },
};
</script>


<style scoped>
.buttonModifAnnonceDialog {
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: white;
  margin-left: 40%;
  margin-top: -40px;
}

#containerContact {
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
}

#dialogContact {
  border-radius: 20px;
}

#pp {
  margin: 10px;
  margin-right: 30px;
}

#profile {
  margin: -50px 10px 10px 10px;
}

#profileCard {
  border-radius: 10px;
  width: 80%;
  margin-left: 20px;
}

.profileCardText {
  color: #37474f;
  padding: 15px;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
}

#buttonFormAccount {
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: white;
  margin-top: 70px;
}

#mesAnnoncesTabs {
  border-radius: 20px 20px 20px 20px;
  margin: 70px 30px 30px 30px;
  outline-color: linear-gradient(90deg, #00b8d4, #00bfa5);
}

#AnnounceResponseCard {
  border-radius: 20px;
  margin: 50px 30px 30px 30px;
}

.tab {
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
}

.AnnonceCard {
  border-radius: 8px 8px 8px 8px;
  margin: 10px;
}

.textCardTitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #37474f;
  text-align: start;
}

.textCardContent {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: grey;
  text-align: start;
}

.textCardTitleMyAnnounces {
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #37474f;
  margin-left: 170px;
}

.textCardContentMyAnnounces {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: grey;
  margin-left: 130px;
}

.AnnonceBottomText {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 10px;
  margin-left: 15px;
  color: grey;
}

#AnnonceBottomIcon {
  margin-left: 20px;
}

.buttonAnnonce {
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: white;
}

#titreAnnonceDialog {
  margin-left: 35%;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: gray;
}

#titreAnnonceChanged {
  margin-left: 32%;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: gray;
}

.buttonAnnonceDialog {
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: white;
  margin-left: 38%;
}

.avatarAnnonce {
  margin: 10px;
}

#snackbarAnnonce {
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: white;
}
</style>
